.profile {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 74px);
  max-width: 410px;
  width: 100%;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-size: 24;
  line-height: 1.2;
  text-align: center;
  margin: 74px 0 0;
}

.profile__info {
  list-style: none;
  padding: 0;
  margin: 123px 0 220px;
}

.profile__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__item:first-child {
  border-bottom: 1px solid #424242;
}

.profile__field {
  margin: 0;
}

.profile__text {
  font-size: 11px;
  line-height: 1.18;
  margin: 0;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: right;
}

.profile__item_name {
  padding-bottom: 16px;
}

.profile__item_email {
  padding-top: 17px;
}

.profile__button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  line-height: 1.23;
  gap: 16px;
  cursor: pointer;
  padding: 0;
}

.profile__button:disabled {
  background-color: transparent;
  border: none;
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  line-height: 1.23;
  cursor: not-allowed;
}

.profile__error {
  text-align: center;
  visibility: visible;
  font-size: 11px;
  line-height: 1.23;
  color: #ee3465;
  opacity: 1;
  margin: 0;
  min-height: 33px;
}

.profile__button_exit {
  margin-top: 16px;
  color: #ee3465;
}
