.switch {
  display: block;
  position: relative;
  min-width: 36px;
  height: 20px;
  -webkit-tap-highlight-color: transparent;
}

.switch__button {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: #343434;
  transition: 0.4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50px;
  left: 2px;
  bottom: 2px;
  background-color: #a0a0a0;
  transition: 0.3s;
}

.switch__button:checked + .switch__slider::before {
  background-color: #fff;
}

.switch__button:checked + .switch__slider {
  background-color: #3ddc84;
}

.switch__button:focus + .switch__slider {
  box-shadow: 0 0 4px 0.5px #4285f4;
}

.switch__button:focus:checked + .switch__slider {
  box-shadow: 0 0 4px 0.5px #4285f4;
}

.switch__button:checked + .switch__slider:before {
  transform: translateX(16px);
}
