.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  color: white;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 61.5px; /* изменить ширину для promo и techs */
  box-sizing: border-box;
}

.opacity {
  opacity: 1;
  transition: 0.3s;
}

.opacity:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .App {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .App {
    padding: 0 10px;
  }
}
