.credentials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 56px 20px 30px;
  box-sizing: border-box;
}

.credentials__hero {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentials__logo {
  display: block;
  width: 38px;
  height: 38px;
}

.credentials__welcome {
  font-size: 24px;
  line-height: 1.2;
  margin: 50px 0 80px;
}

.credentials__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 396px;
  min-height: 527px;
}

.credentials__inputs {
  border: none;
  margin: 0;
  padding: 0;
}

.credentials__button-wrapper {
  margin-top: auto;
  max-width: 396px;
  width: 100%;
}

.credentials__error-message {
  color: #ee3465;
  font-size: 12px;
  line-height: 1.25;
  /* margin: 14px 0 0; */
  text-align: center;
}

.credentials__button {
  width: 100%;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: 1.25;
  background-color: #4285f4;
  padding: 15px 0;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.credentials__button:disabled {
  background-color: #8b8b8b;
  opacity: 1;
  cursor: not-allowed;
}

.credentials__button:focus {
  outline: none;
  box-shadow: 0 0 5px #4285f4;
}

.credentials__question {
  color: #8b8b8b;
  font-size: 12px;
  line-height: 1.25;
  margin: 14px 0 0;
  text-align: center;
}

.credentials__redirect {
  color: #4285f4;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin-left: 7px;
  transition: 0.3s;
}

.credentials__redirect:focus {
  outline: none;
  border-bottom: 2px solid #4285f4;
}

@media screen and (min-width: 500px) {
  .credentials__hero {
    align-items: flex-start;
  }

  .credentials {
    padding: 232px 0;
  }

  .credentials__welcome {
    margin: 40px 0;
  }

  .credentials__button {
    font-size: 14px;
  }

  .credentials__form {
    min-height: 356px;
  }
}

@media screen and (min-width: 1000px) {
  .credentials {
    padding: 70px 0;
  }

  .credentials__form {
    min-height: 396px;
  }
}
