.credentials-input__label {
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  font-size: 10px;
  line-height: 1.2;
}

.credentials-input__input {
  width: 100%;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 13px;
  line-height: 1.23;
  border: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: 0.3s;
}

.credentials-input__input:invalid {
  color: #ee3465;
}

.credentials-input__input:focus {
  outline: none;
  border: 1px solid #4285f4;
}

.credentials-input__input:focus:invalid {
  outline: none;
  border: 1px solid #ee3465;
}

.credentials-input__input-error {
  visibility: hidden;
  margin: 0;
  color: #ee3465;
}
